<h2>
	<%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_registration_path(current_user) %>
</h2>

<h3>
	<%= current_user.title %>
</h3>
<h3>
	<%= current_user.email %>
</h3>
<h4>
	<%= link_to "edit", edit_user_registration_path(current_user) %>
</h4>