<div id="name">
	<%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_registration_path(current_user) %>
</div>
<div id="title">
	 <%= current_user.title %>
</div>
<div id="email">
	<%= current_user.email %>
</div>
<%= link_to "edit", edit_user_registration_path(current_user) %>