<h2>All Clients</h2>

<div id="left-bar">
    <% if policy(Client.new).create? %>
      <%= link_to "New Client", new_client_path, class: 'btn btn-success' %>
    <% end %>
  <div class="dashboard">
  <div id="client-details">
    <% @clients.each do |client| %>
      <%= link_to client.last_name, client %>
      </br>
    <% end %>
  </div>
  </div>
</div>