<div class="col-xs-4">
  <%= render current_user %>
</div>

<div class="col-xs-8">
  <div>
    <% if policy(Client.new).create? %>
    <%= link_to "Create New Client", new_client_path, class: 'btn btn-success' %>
    <% end %>
  </div>

  <div ng-controller="clientsController">
    <br/>
    <input type="text" placeholder="Search by any field.." ng-model="query" autofocus/> Showing {{filtered.length}} clients.
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>MEDA Contact ID</th>
        <th>Salesforce ID</th>
      </tr>
      <tr ng-repeat="client in filtered = (clients | filter:query:strict)">
        <td><a href="clients/{{ client.id }}">{{client.last_name}}</a></td>
        <td>{{client.email}}</td>
        <td>{{client.phone}}</td>
        <td>{{client.contact_id}}</td>
        <td>{{client.salesforce_id}}</td>
      </tr>
    <table>
  </div>
    
</div>