<div class="row">

  <div class="col-xs-4">
    <%= render current_user %>
  </div>

    <div class="col-xs-8">
      <div>
        <% if policy(Client.new).create? %>
          <%= link_to "Create New Client", new_client_path, class: 'btn btn-success' %>
        <% end %>
      </div>

      <table ng-controller="clientsController">
        <input ng-model="query" type="text" placeholder="Search by any field.." autofocus>
          <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Salesforce ID</td>
          </tr>
          <tr ng-repeat="client in clients | filter:query:strict">
            <td><a href="clients/{{ client.id }}">{{client.last_name}}</a></td>
            <td>{{client.email}}</td>
            <td>{{client.phone}}</td>
            <td>{{client.salesforce_id}}</td>
          </tr>
      </table>

    </div>

</div>
