<div class="row">

  <div class="col-xs-4">
		<%= render partial: "client_sidebar", object: @client %>
  </div>

	<div class="col-xs-8">
		<%= link_to "Create New Plan", new_client_action_plan_path(@client),
											class: 'btn btn-success' %>

		<%= render @client.action_plans %>
  </div>

</div>



