<!DOCTYPE html>
<html lang="en">

<head>
 <title>MEDAPulse</title>
</head>

<body>

    <!-- Header -->
    <div class="intro-header">

        <div class="container">
                <div class ="userauth">
                <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %>  
                <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %>        
                </div>

                    <div class="row">
                            <div class="intro-message">
                                <h2>What can you help your clients accomplish today?</h2>
                                <h3>MEDAPulse helps you guide them every step of the way</h3>
                                <hr class="intro-divider">
                            </div>
                    </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <h4> App Built Exclusively for the Mission Economic Development Agency </h4>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

</html>