<div class="intro-header">
    <div class="intro-message">
        <h2>What can you help your clients accomplish today?</h2>
        <h3>MEDAPulse helps you guide them every step of the way</h3>
			<%= link_to "Sign up Today", new_user_registration_path, class: 'pure-button pure-button-primary' %>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <h4> App Built Exclusively for the Mission Economic Development Agency </h4>
        </div>
    </div>
</footer>