<tr class="warning">
	<td></td>
	<td class="h4"><%= step.description %></td>
  <td><%= link_to "Update", edit_step_path(step), class: 'btn btn-info' %></td>
  <td><%= link_to "New Text", new_client_text_message_path(@client) %></td>
<tr>

