<%= div_for goal, class: 'container' do %>

	<div>
		Goal <%= format_counter(goal_counter) %>: <%= goal.description %>
	</div>

	<div class='container'>
		<div>
			Steps Due Date Status Messages (Sent / Total)
		</div>
		<%= render goal.steps %>
	</div>

<% end %>


