<tr>
  <td class="h4"><%= goal.description %></td>
  <td><%= link_to "Update", edit_goal_path(goal), class: 'btn btn-info' %></td>
  <td><%= link_to "New Step", new_goal_step_path(goal),
		class: 'btn btn-success' %></td>
</tr>

<% if goal.steps.count > 0 %>
	<div>
		<tr><td><h3>Steps:<h3></td></tr>
		<%= render goal.steps %>
	</div>
<% end %>

